h1 {
    margin-right: 2rem;
}

h2 {}

h3 {}

h4 {}

p {}

.text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
}


/* @-webkit-keyframes MOVE-BG {
    from {
        left: 0;
    }
    to {
        left: -2000px;
    }
}

#wrapper {
    position: relative;
    width: 800px;
    height: 300px;
    overflow: hidden;
}

#page {
    text-align: center;
    font-size: 26px;
    color: #000;
}

#content {
    width: 2000px;
    height: 1000px;
    background: url("layers/layer1.png") center center / cover no-repeat, url("layers/layer2.png") center center / auto no-repeat no-repeat, url("layers/layer3.png") center center / auto no-repeat no-repeat, url("layers/layer5.png") center center / auto no-repeat0% 0% repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-animation-name: MOVE-BG;
    -webkit-animation-duration: 100s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
} */

body {
    margin: 0;
    padding: 0;
}

#container {
    width: 90S%;
    height: 100vh;
    background: url("layers/layer1.png") center center / cover no-repeat, url("layers/layer2.png") center center / auto no-repeat no-repeat, url("layers/layer3.png") center center / auto no-repeat no-repeat, url("layers/layer4.png") center center / auto no-repeat;
    background-blend-mode: overlay;
    position: relative;
    overflow: hidden;
}

.object1 {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 100;
    right: 40;
    background-image: url("objects/object1.png");
    background-repeat: no-repeat;
    background-position: contain;
    background-size: 50%;
    background-blend-mode: luminosity;
    animation-name: object1;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 20s;
    animation-direction: alternate;
}

@keyframes object1 {
    0% {
        bottom: 20%;
        right: 10%;
    }
    25% {
        right: 20%;
    }
    50% {
        right: 30%;
    }
    75% {
        left: 40%;
    }
    100% {
        left: 50%;
    }
}

.object2 {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 56%;
    left: 50%;
    background-image: url("objects/object2.png");
    background-repeat: no-repeat;
    background-position: contain;
    background-size: 48%;
    background-blend-mode: luminosity;
    animation-name: object2;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 20s;
    animation-direction: alternate;
}

@keyframes object2 {
    0% {
        bottom: 10%;
        right: 45%;
    }
    25% {
        right: 30%;
    }
    50% {
        right: 40%;
    }
    75% {
        left: 60%;
    }
    100% {
        left: 200%;
    }
}

.object3 {
    position: absolute;
    width: 300px;
    height: 400px;
    background-image: url("objects/object3.png");
    background-repeat: no-repeat;
    background-position: contain;
    background-size: 50%;
    background-blend-mode: luminosity;
    animation-name: object3;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 20s;
    animation-direction: alternate;
}

@keyframes object3 {
    0% {
        bottom: 10%;
        right: 45%;
    }
    25% {
        bottom: 20%;
        right: 50%;
    }
    50% {
        bottom: 30%;
        right: 70%;
    }
    75% {
        bottom: 50%;
        left: 80%;
    }
    100% {
        left: 90%;
    }
}

.object4 {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 70%;
    left: 15%;
    background-image: url("objects/object4.png");
    background-repeat: no-repeat;
    background-position: contain;
    background-size: 50%;
    background-blend-mode: luminosity;
    animation-name: object4;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 20s;
    animation-direction: alternate;
}

@keyframes object4 {
    right {
        left: 10%;
    }
    to {
        left: 100%;
    }
}

.object5 {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 70%;
    left: 15%;
    background-image: url("objects/object5.png");
    background-repeat: no-repeat;
    background-position: contain;
    background-size: 50%;
    background-blend-mode: luminosity;
    animation-name: object5;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 20s;
    animation-direction: alternate;
}


/*parallax background css*/

#parallax-container {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    padding: 0px;
    margin: 0px;
    background-blend-mode: overlay;
    position: relative;
}

.box-1 {
    pbackground: url("layers/layer1.png") center center / cover no-repeat;
    top: 100px;
    left: 30%;
}

.box-2 {
    pbackground: url("layers/layer2.png") center center / auto no-repeat no-repeat;
    top: 120px;
    left: 40%;
}

.box-3 {
    pbackground: url("layers/layer3.png") center center / auto no-repeat no-repeat;
    top: 130px;
    left: 50%;
}

.box {
    pbackground: url("layers/layer4.png") center center / auto no-repeat;
    position: absolute;
    width: 200px;
    height: 200px;
}